#now-selling.nav-bar-wrapper:first-child {
  background: url('../../assets/images/img1.jpg');
}

#landing-page.nav-bar-wrapper:first-child {
  background: url('../../assets/images/img6.jpg');
}

#services.nav-bar-wrapper:first-child {
  background: url('../../assets/images/services.png');
  background-position: top !important;
}

#property-description.nav-bar-wrapper:first-child {
  background: url('../../assets/images/img2.jpg');
}

#services.nav-bar-wrapper {
  height: 480px;
}

#now-selling.nav-bar-wrapper:first-child,
#landing-page.nav-bar-wrapper:first-child,
#services.nav-bar-wrapper:first-child,
#property-description.nav-bar-wrapper:first-child {
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-bar-wrapper {
  background-color: green;
  height: calc(100vh - 100px);
  /* height: 600px; */
}

/* media Queries */
@media (max-width: 900px) {
  .nav-bar-wrapper {
    height: calc(100vh - 65vh);
  }

  #services.nav-bar-wrapper {
    height: 300px;
  }
}

@media only screen and (max-width: 450px) {
  #services.nav-bar-wrapper {
    height: 170px;
  }
}

@media only screen and (max-width: 375px) {
  #services.nav-bar-wrapper {
    height: 120px;
  }
}

@media only screen and (max-width: 360px) {
  .nav-bar-wrapper {
    height: calc(100vh - 400px);
  }
}

@media (min-width: 360px) and (max-width: 1085px) {
  .nav-bar-wrapper {
    height: calc(100vh - 355px);
  }
}
